@import '../../@theme/styles/themes.scss';

::ng-deep nb-layout-column {
  background: url('../../../assets/image.jpg') !important;
  background-size: cover !important;
}


.top {
    margin-top: 35vh;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

p {
    font-size: 2rem;
    margin-top: 1em;
}
