<div class="row">
  <div class="col-xxxl-3 col-md-3">
      <nb-card>
        <div class="icon-container row">
          <div class="nb-bus">
            <ng-content></ng-content>
          </div>
          <h2>BUS</h2>
        </div>
        <div class="text-center">
          <h6>mettre votre text ici</h6>
        </div>
      </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
      <nb-card>
          <div class="icon-container row">
            <div class="nb-sunny">
              <ng-content></ng-content>
            </div>
            <h2>Météo</h2>
          </div>
          <div class="text-center">
            <h2>1°</h2>
          </div>
        </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
      <nb-card>
          <div class="icon-container row">
            <div class="birthday-cake">
              <ng-content></ng-content>
            </div>
            <h2>Anniversaires</h2>
          </div>
          <div class="text-center">
            <h2>{{date | date:'short'}}</h2>
          </div>
        </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
      <nb-card>
          <div class="icon-container row">
            <div class="nb-sunny">
              <ng-content></ng-content>
            </div>
            <h2>Métro</h2>
          </div>
          <div class="text-center">
            <h6>mettre votre text ici</h6>
          </div>
        </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-md-6">
      <nb-card>
          <div class="icon-container row">
            <div class="nb-alert">
              <ng-content></ng-content>
            </div>
            <h2>Perturbations</h2>
          </div>
          <div class="text-center">
            <h6>mettre votre text ici</h6>
          </div>
        </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
      <nb-card>
          <div class="icon-container row">
            <div class="nb-email">
              <ng-content></ng-content>
            </div>
            <h2>Messages</h2>
          </div>
          <div class="text-center">
            <h6>mettre votre text ici</h6>
          </div>
        </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
      <nb-card>
          <div class="icon-container row">
            <div class="nb-sunny">
              <ng-content></ng-content>
            </div>
            <h2>Evénéments</h2>
          </div>
          <div class="text-center">
            <h6>mettre votre text ici</h6>
          </div>
        </nb-card>
  </div>
</div>

<div class="col-xxxl-12 col-md-12">
    <nb-card>
        <div class="icon-container row">
          <div class="nb-sunny">
            <ng-content></ng-content>
          </div>
          <h2>Actualités</h2>
        </div>
        <div class="text-center">
          <h6>mettre votre text ici</h6>
        </div>
      </nb-card>
</div>

<!-- <div fxLayout="row">
  <div class=".col-md-4">
      <nb-card >
        <div class="icon-container">
          <div class="nb-sunny">
            <ng-content></ng-content>
          </div>
        </div>
        <div class="details">
          <div class="title h5">Light</div>
          <div class="status paragraph-2"></div>
        </div>
      </nb-card>
  </div>
  <nb-card>
    <div class="icon-container">
      <div class="nb-sunny">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="details">
      <div class="title h5">Light</div>
      <div class="status paragraph-2"></div>
    </div>
  </nb-card>
  <nb-card>
      <div class="icon-container">
        <div class="nb-sunny">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="details">
        <div class="title h5">Light</div>
        <div class="status paragraph-2"></div>
      </div>
    </nb-card>
    <nb-card>
      <div class="icon-container">
        <div class="nb-sunny">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="details">
        <div class="title h5">Light</div>
        <div class="status paragraph-2"></div>
      </div>
    </nb-card>
    <nb-card>
      <div class="icon-container">
        <div class="nb-sunny">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="details">
        <div class="title h5">Light</div>
        <div class="status paragraph-2"></div>
      </div>
    </nb-card>
</div> -->